<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>DeepTub++ - Plataforma para o acompanhamento do prognóstico da tuberculose</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/main.css" rel="stylesheet">
    <style>
        .custom-range::-webkit-slider-thumb {
        background: #bb6054;
        }

        .custom-range::-moz-range-thumb {
        background: #bb6054;
        }

        .custom-range::-ms-thumb {
        background: #bb6054;
        }
    </style>
    
</head>

<body>

  <!-- ======= Header ======= -->
  <section id="topbar" class="topbar d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="d-flex align-items-center">dotLab Brazil</i>
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </section><!-- End Top Bar -->

  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="static/assets/img/logo.png" alt=""> -->
        <img src="static/img/logodeeptub.jpeg" />
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/">Início</a></li>
          <li><a href="/#about">Sobre</a></li>
          <li><a href="/#team">Time</a></li>
          <li><a href="/#faq">Perguntas frequentes</a></li>
          <li><a href="/prognostico">Prognóstico</a></li>
          <li><a href="#portfolio">Acompanhamento</a></li>
        </ul>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
          <h2>DeepTub++<span> Prognóstico</span></h2>
          <p>Preencha abaixo os onze atributos com os dados do paciente e veja o resultado do prongóstico da tuberculose</i>.          </p>
          <div style="text-align: center;">
                <i class="bi bi-speedometer2" style="font-size: 10rem; color: #fcf5f1;"></i>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2">
          <img src="static/assets/img/hero-img.svg" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100">
        </div>
      </div>
    </div>

    <div class="icon-boxes position-relative">
      <div class="container position-relative">
        <div class="row gy-4 mt-5">

                

        </div>
      </div>
    </div>

    </div>
  </section>
  <!-- End Hero Section -->


  <main id="main">
 <!-- ======= About Us Section ======= -->
 <section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <h2>Preencha os dados do paciente</h2>
        <form class="form-control" action="/prognostico_form" method="POST">




            <div class="input-group input-group-lg">
                <span class="input-group-text" id="inputGroup-sizing-lg">Idade</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" value="30" id="form_idade_do_paciente" name="form_idade_do_paciente" required>
                <input type="range" class="form-range custom-range" value="30" min="0" max="130" step="1" id="var_idade" oninput="document.getElementById('form_idade_do_paciente').value = this.value">
              </div>

              <div class="input-group mb-3 input-group-lg">
                <label class="input-group-text" for="form_tipo_de_tratamento">Tipo de entrada no tratamento
                </label>
                <select class="form-select" id="form_tipo_de_tratamento" name="form_tipo_de_tratamento" required>
                  <option selected disabled value="">selecione...</option>
                  <option value="1">1. Caso novo</option>
                  <option value="2">2. Recidiva</option>
                  <option value="3">3. Reingresso após abandono</option>
                  <option value="4">4. Não sabe</option>
                  <option value="5">5.Transferência</option>
                  <option value="6">6. Pós-óbito</option>
                </select>

                <label class="input-group-text" for="form_radiografia_torax">Radiografia do Tórax
                </label>
                <select class="form-select" id="form_radiografia_torax" name="form_radiografia_torax" required>
                  <option selected disabled value="">selecione...</option>
                  <option value="1">1. Suspeito</option>
                  <option value="2">2. Normal</option>
                  <option value="3">3. Outra patologia</option>
                  <option value="4">4. Não realizado</option>
                </select>
              </div>


              <div class="input-group mb-3 input-group-lg">
                <label class="input-group-text" for="form_teste_tuberculinio">Teste tuberculíneo
                </label>
                <select class="form-select" id="form_teste_tuberculinio" name="form_teste_tuberculinio" required>
                  <option selected disabled value="">selecione...</option>
                  <option value="1">1. Não reator</option>
                  <option value="2">2. Reator fraco</option>
                  <option value="3">3. Reator forte</option>
                  <option value="4">4. Não realizado</option>
                </select>

                <label class="input-group-text" for="form_forma_da_tuberculose">Forma da tuberculose
                </label>
                <select class="form-select" id="form_forma_da_tuberculose" name="form_forma_da_tuberculose" required>
                  <option selected disabled value="">selecione...</option>
                  <option value="1">1. Pulmonar</option>
                  <option value="2">2. Extrapulmonar</option>
                  <option value="3">3. Pulmonar + Extrapulmonar</option>
                </select>
              </div>
              
              <div class="input-group mb-3 input-group-lg">
                <label class="input-group-text" for="form_agravos_doenca_mental">Agravos associados a doença Mental
                </label>
                <select class="form-select" id="form_agravos_doenca_mental" name="form_agravos_doenca_mental" required>
                  <option selected disabled value="">selecione...</option>
                  <option value="1">1. Sim</option>
                  <option value="2">2. Não</option>
                  <option value="3">3. Ignorado</option>
                </select>

                <label class="input-group-text" for="form_hiv">Resultado do teste de HIV
                </label>
                <select class="form-select" id="form_hiv" name="form_hiv" required>
                  <option selected disabled value="">selecione...</option>
                  <option value="1">1. Positivo</option>
                  <option value="2">2. Negativo</option>
                  <option value="3">3. Em andamento</option>
                  <option value="4">4. Não se aplica</option>
                </select>
              </div>

              <div class="input-group mb-3 input-group-lg">
                <label class="input-group-text" for="form_bacilosc_e">Baciloscopia de escarro – 1ª amostra
                </label>
                <select class="form-select" id="form_bacilosc_e" name="form_bacilosc_e" required>
                  <option selected disabled value="">selecione...</option>
                  <option value="1">1. Positiva</option>
                  <option value="2">2. Negativa</option>
                  <option value="3">3. Não realizada</option>
                  <option value="4">4. Não se aplica</option>
                </select>

                <label class="input-group-text" for="form_bacilosc_e2">Baciloscopia de escarro – 2ª amostra
                </label>
                <select class="form-select" id="form_bacilosc_e2" name="form_bacilosc_e2" required>
                  <option selected disabled value="">selecione...</option>
                  <option value="1">1. Positiva</option>
                  <option value="2">2. Negativa</option>
                  <option value="3">3. Não realizada</option>
                  <option value="4">4. Não se aplica</option>
                </select>
              </div>



              <div class="input-group input-group-lg">
                <label class="input-group-text" for="form_bacilosc_6">Baciloscopia de escarro no 6º mês
                </label>
                <select class="form-select" id="form_bacilosc_6" name="form_bacilosc_6" required>
                  <option selected disabled value="">selecione...</option>
                  <option value="1">1. Positiva</option>
                  <option value="2">2. Negativa</option>
                  <option value="3">3. Não realizada</option>
                  <option value="4">4. Não se aplica</option>
                </select>

                <span class="input-group-text" id="inputGroup-sizing-lg">Dias em tratamento</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" value="0" id="form_dias_em_tratamento" name="form_dias_em_tratamento">
              </div>

              <br/>
             
              <div class="input-group input-group-lg col-12">
                <button class="btn btn-danger" type="submit">Clique aqui para ver o resultado da classificação do prognóstico</button>
              </div>
        </form>

    </div>
  </section><!-- End About Us Section -->

  </main>

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>DeepTub++</span>
          </a>
          <p>Esperamos que a DeepTub++ possa auxiliar os profissionais de saúde no prognóstico da tuberculose.</p>
          <div class="social-links d-flex mt-4">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Links úteis</h4>
          <ul>
            <li><a href="https://www.who.int/pt" target="_blank">OMS</a></li>
            <li><a href="https://www.gov.br/saude/pt-br"  target="_blank">Ministério da Saúde</a></li>
            <li><a href="https://www.gov.br/saude/pt-br/assuntos/saude-de-a-a-z/s/sus"  target="_blank">SUS</a></li>
            <li><a href="https://portalsinan.saude.gov.br/"  target="_blank">SINAN</a></li>
          </ul>
        </div>

        

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contate-nos</h4>
          <p>
            R. Benfica, 455 <br>
            Recife, Pernambuco<br>
            Brasil <br><br>
            <strong>Email:</strong> patricia.endo@upe.br<br>
          </p>

        </div>

      </div>
    </div>

    <div class="container mt-4">
        <div class="copyright credits">
          Baseado em &copy; Copyright <strong><span>Impact</span></strong> Design estrutural por <a href="https://bootstrapmade.com/">BootstrapMade</a>. Todos os direitos reservados
        </div>
      </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>